<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <!-- form to get user input -->
                <form action="/" method="post">
                    <input name="name" type="text" placeholder="Name of Birthday person">
                    <select name="month">
                        <option disabled selected value="">Month</option>
                        {% for month in months %}
                        <option value="{{ month }}">{{ month }}</option>
                        {% endfor %}
                    </select>

                    <select name="day">
                        <option disabled selected value="">Day</option>
                        {% for day in days %}
                        <option value="{{ day }}">{{ day }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Remember this">
                </form>

            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Loop through the database entries to display them in this table -->
                        {% for people in  btname %}
                        <tr>
                        <td>{{ people.name }}</td>
                        <td>{{ people.month }} / {{ people.day }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
